body{
    background-color:antiquewhite;
}
.container{
    text-align:center; 
}
#final{
    background-color:black;
    border-radius: 9px;
    color:white;
    text-align:center;
    font-size:2em;
}
#btn{
    padding: 2px 29px;
    border-radius: 7px;
    border: 2px solid orange;
    margin-top:10px;
    margin-bottom:5px;
    color: orange;
    background: grey
    
}
span{
    color:chocolate
}
#len{
    border-radius:7px;
    text-align: center;
    background-color: darkseagreen;
    border: 2px solid pink;
}

